{% extends "layout.html" %}

{% block body %}
<h3>Welcome to Ani's Amazing Sampling App!</h3>
<br>
<p>This is a place for you to store your research data.</p>

<p>Here you can see sampling sites and samples that users have uploaded to this application.
  Logging in yourself you can add, edit and delete sites and samples yourself.</p>

<p>More information as well as the code behind this application can be found <a href="https://github.com/ansolotli/Tutkimussovellus">here</a>.</p>

<p>Have fun!</p>

{% endblock %}