{% extends "layout.html" %}

{% block body %}

<table>
    <tr>
        <td>Site</td>
        <td></td>
    </tr>
    <tr>
        <td> Sample name </td>
        <td> {{ sample.samplename }} </td>
    </tr>
    <tr>
        <td> Sample type</td>
        <td> {{ sample.sampletype }} </td>
    </tr>
    <tr>
        <td> Species </td>
        <td> {{ sample.species }} </td>
    </tr>
    <tr>
        <td> Number of Specimen </td>
        <td> {{ sample.amount }} </td>
    </tr>
</table>
<br>
<form method="POST" action="{{ url_for('samples_remove', sample_id=sample.id) }}">
<tr>
    <td colspan="2">
        <input type="submit" value="Delete this sample" />
    </td>
</tr>
</form>
{% endblock %}