{% extends "layout.html" %}

{% block body %}

<div class="col-6">
    <table class="table">
        <tbody>
            <tr>
                <th>Site</th>
                <td> {{site.name}} </td>
            </tr>
            <tr>
                <th>Sample name</th>
                <td> {{ sample.samplename }} </td>
            </tr>
            <tr>
                <th> Sample type</th>
                <td> {{ sample.sampletype }} </td>
            </tr>
            <tr>
                <th> Species </th>
                <td> {{ sample.species }} </td>
            </tr>
            <tr>
                <th> Number of Specimen </th>
                <td> {{ sample.amount }} </td>
            </tr>
        </tbody>
    </table>
</div>

{% if current_user.is_authenticated %}
<div class="form-row align-items-center">
    <div class="col-auto mb-3">
        <form method="POST" action="{{ url_for('samples_update', sample_id=sample.id) }}">
            <input type="submit" value="Edit this sample" class="btn btn-outline-primary" />
        </form>
    </div>
    <div class="col-auto mb-3">
        <form method="POST" action="{{ url_for('samples_remove', sample_id=sample.id) }}">
            <input type="submit" value="Delete this sample" class="btn btn-outline-danger" />
        </form>
    </div>
</div>
{% else %}
<p>
    <a href="{{ url_for('auth_login') }}">Log in to edit or delete samples</a>
</p>
{% endif %}
{% endblock %}