{% extends "layout.html" %}

{% block body %}

<table>
  <tr>
    <th>Sampling sites</th>
  </tr>
  {% for site in sites %}
  <tr>
    <td><a href="{{ url_for('sites_show_one_site', site_id=site.id) }}">{{ site.name }}</a></td>
  </tr>
  {% endfor %}
</table>
<br>
<nav aria-label="Search results page">
  <ul class="pagination pagination-sm">
    {% if prev_url != None %}
    <li class="page-item">
      <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="{{ url_for('sites_index', page=page) }}"> {{ page }}</a></li>
    {% if next_url != None %}
    <li class="page-item">
      <a class="page-link" href="{{ next_url }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="{{ next_url }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% if current_user.is_authenticated %}
<p>
  <a href="{{ url_for('sites_form') }}">Add a new sampling site</a>
</p>
{% else %}
<p>
  <a href="{{ url_for('auth_login') }}">Log in to add a new sampling site</a>
</p>
{% endif %}
{% endblock %}