{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('sites_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Add a new site" />
      </td>
    </tr>
  </table>
  <br>
  <a href="{{ url_for('sites_index') }}">Back to site list</a>
  <br>
  <a href="{{ url_for('index') }}">Back to front page</a>
</form>
{% endblock %}