{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('sites_search_results') }}">
    <div class="form-group row">
        <label for="searchBy" class="col-auto col-form-label">Search by</label>
        <div class="col-auto form-inline">
            {{ form.name(class="form-control") }}
        </div>
        <div class="col-auto">
            <input type="submit" value="Search" class="btn btn-outline-primary" />
        </div>
    </div>
    <div class="form-group row">
        <div>

            <ul>
                {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</form>

{% if searched %}
{% if sites | length == 0 %}
No search results.
{% endif %}
{% endif %}

<table>
    {% for site in sites %}
    <tr>
        <td><a href="{{ url_for('sites_show_one_site', site_id=site.id) }}">{{ site.name }}</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}